body {
  margin: 0;
  background-color: #24353f;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* width, height */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #94b0a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #436c56;
}
